#graficoAcertos{
  background-color: #07140f;
  color: #e7c274;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  height: 100%;
}


.bodyDashboard{
  background-image: url("../assets/images/imagemArvore.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.containerDashboard{
  justify-self: center;
  align-self: center;
  display: flex;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 400vh;
}

.conteudoDashboard {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #e7c274;
  background-color:#1e1e1e;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
.conteudoDashboard h1 {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 100px;
}
.container-dash-usuario{
  display: flex;
  flex-direction: row;
  font-size: 50px;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.container-select-periodo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.container-select-periodo label {
  font-size: 20px;
}


#selectPeriodo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  width: 220px;
  margin-bottom: 10px;
  margin-left: 100px;
  background-color: #182b23;
  color: #e7c274;
  border:none;
}


.container-kpis{
  width: 80%;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.container-kpis p{
  background-color: #182b23;
  padding: 10px;
  border-radius: 10px;
}
.kpi{
  display: flex;
  gap: 20px;
  width: 300px;
  align-items: center;
}

.valorKpi{
  font-weight: bolder;
}

.container-graficos{
  margin-top: 100px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  flex-direction: column;
  height: 100%;
}

.primeira-linha{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap:50px;
  height: 12%;
}
#graficoContribuicoesTotaisPorMeses{
  background-color: #182b23;
  border-radius: 5px;
  padding: 10px;
  height: 12%;
  width: 100%;
}
#graficoPerguntasFechadasPorMeses{
  background-color: #182b23;
  border-radius: 5px;
  padding: 10px;
}
#graficoContribuicoesMaisVotadas{
  background-color: #182b23;
  border-radius: 5px;
  padding: 10px;
}
#graficoComentariosPorMeses{
  background-color: #182b23;
  border-radius: 5px;
  padding: 10px;
  height: 20%;
}


.segunda-linha{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:50px;
  height: 12%;
}
.container-terceiro-grafico{
  margin-bottom: 50px;
}

.container-nivel{
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 8px;
}

#spanNumeroNivel{
  display: flex;
}
.terceira-linha{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:50px;
  height: 30%;
}