.bodyHome{
  background-image: url("../../assets/1356787.jpeg");
  background-position: center;
  background-size:cover;
}


.container-inicio {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.liContribuicao{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.container-post {
  padding: 15px;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  display: flex;
  width: 70%;
  justify-content: center;
  height: 90%;
  background-color: #1e1e1e;
  border-radius: 10px;
}
.container-post-fechado {
  padding: 15px;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  display: flex;
  width: 70%;
  justify-content: center;
  height: 90%;
  background-color: #1e1e1e;
  border-radius: 10px;
  opacity: 0.8;
}


.cabecalho-post{
  width: 100%;
  display: flex;
  color: #e7c274;
  align-items: center;
}
#listaContribuicoes{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cabecalho-post h1{
  margin-left: 20px;
  width: 60%;
}

.cabecalho-post a {
  text-decoration: none;
}
.cabecalho-usuario {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.cabecalho-usuario h1 {
  width: fit-content;
  margin-right: 30px;
}

#nome-post {
  font-size: 25px;
  font-weight: bolder;
  color: #e7c274;
}

#usuario-post {
  font-size: 20px;
  font-weight: 300;
  margin-left:20%;
  margin-top: 1;
}

.desc-post{
  justify-self: start;
  align-self: flex-start;
  margin-left: 30px;
  width: 900px;
  height: 100%;
  flex-direction: column;
  margin-top: 10px;
  font-size: 20px;
  color: #d8d8d8;
  word-wrap: break-word;
  word-break: break-all; /* ou use `break-word` */
  white-space: normal;
  overflow: hidden;
}
 .desc-post p{
  display: flex;
  width: 100%;
  height: 100%;
}

.botao-contribuir {
  background-color: #1e1e1e;
  color: #e7c274;
  border: none;
  margin-top: 5%;
  height: 60px;
  width: 220px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s;
}
.botao-contribuir:hover {
  background-color:#07140f;
  transition: 0.3ms;
  cursor:pointer;
}

.container-post hr {
  width: 90%;
}
.div-mensagem{
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

#divMensagemComentario{
  margin-top: 22px;
}

.containerSecaoFecharContribuicao button:hover{
    cursor: pointer;
}
.containerSecaoFecharContribuicao button {
  background-color: transparent;
  color: #e7c274;
}

.container-novo-post {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.conteudo-novo-post {
  display: flex;
  width: 60%;
  height: 90%;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color:#1e1e1e;
  color: #e7c274;
  border-radius: 10px;
  font-size: 22px; 
  gap: 15px;
  padding: 20px;
}
.conteudo-novo-post input{
  background-color: #182b23;
  width: 65%;
  color: #d8d8d8;
  height: 45%;
  outline: none;
  border: none;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
}
.conteudo-novo-post span {
  display: flex;
  width: 85%;
  position: fixed;
  top: 20px;
  justify-content: end;
}

#botaoFecharModal{
  background: transparent;
  border: none;
  color: #e7c274;
  margin-right: 30px;
  margin-top: 30px;
}
#botaoFecharModal {
  cursor: pointer;
}
.conteudo-novo-post {
  font-size: 22px;
  margin-bottom: 20px;
}
#botaoPostar{
  background-color: #182b23;
  color: #e7c274;
  transition: 0.3s;
  font-size: 15px;
}

#botaoPostar:hover{
  background-color:#07140f;
  transition: 0.3s;
}


 ul{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .conteudo-novo-post textarea {
  display: flex;
  width: 60%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #182b23;
  color:#d8d8d8 ;
  font-size: 15px;
  resize: none;
  outline: none;
  padding: 15px;
}

.conteudo-novo-post button {
  display: flex;
  width: 30%;
  height: 40%;
  font-size: 15px;
  border-radius: 10px;
  border:none;
  background-color: #182b23;
  justify-content: center;
  align-items: center;
  color: #e7c274;
  padding: 10px;
  font-weight: bold;
} 
.conteudo-novo-post button:hover {
  cursor: pointer;
}

.conteudo-novo-post select {
  text-align: center;
  height: 50%;
  width: 30%;
  background-color: #182b23;
  color: #d8d8d8;
  padding: 5px;
  border:none;
  border-radius: 5px;
  font-size: 15px;
}
.conteudo-novo-post select:hover {
  cursor: pointer;
}

.container-selects {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-tag {
  margin: 0;
  display: flex;
  width: 100%;
  margin-left: 60px;
  margin-bottom: 20px;
  gap: 20px;
}
.container-tag p{
  margin: 0;
  color: #ffff;
  background-color:#c19d53;
  padding: 3px;
  border-radius: 1px;
  font-size: 20px;
  font-weight: bold;
}

.p-erro {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}

.interacoes-post {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: end;
  align-items: center;
  color: #e7c274;
  gap: 30px;
  margin-right: 30px;
}
#containerSecaoComentario{
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 30px;
}
#containerSecaoComentario button {
  background-color: transparent;
  color: #e7c274;
  border:none;
}
#containerSecaoComentario button:hover{
  cursor: pointer;
}

#containerSeta {
  margin-top: 10px;
}
#botaoFecharModalComentar:hover{
  cursor: pointer;
}

.container-comentario {
  display: none;
  margin-top: 80px;
  width: 80%;
  height: max-content;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
hr {
  width: 100%;
}
.conteudo-comentario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #181717;
  border-radius: 10px;
  padding: 10px;
  color: #e7c274;
  font-size: 18px;
}
.conteudo-comentario h1 {
  display: flex;
  font-size: 21px;
  text-align: start;
  width: 100%;
  margin-left: 10px;
}

.conteudo-comentario p{
  color: #d8d8d8;
}
.container-botao-comentario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
#containerSecaoFecharContribuicao{
  margin-bottom: 10px;
}


.container-botao-comentario button {
  flex-direction: column;
  background-color: transparent;
  border:none;
  color: #e7c274;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

}
.container-botao-comentario button:hover{
  cursor: pointer;
}


.icone-abrir-comentarios {
  display: flex;
  width: 100%;
}

.container-comentar {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo com transparência */
}
.conteudo-comentar{
  display: flex;
  width: 60%;
  height: 70%;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color:#1e1e1e;
  color: #e7c274;
  border-radius: 10px;
  margin-bottom: 120px;
  font-size: 22px;
  padding: 0 10px 30px 10px;
}
.conteudo-comentar span {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
  color: #e7c274;
}
.conteudo-comentar button {
  background-color: transparent;
  color: #e7c274;
  box-shadow: none;
  border:none;
}
.conteudo-comentar textarea{
    display: flex;
    width: 450px;
    height: 200px;
    background-color: #182b23;
    border:none;
    color:#d8d8d8;
    resize: none;
    font-size: 15px;
    outline: none;
    padding: 15px;
    border-radius:5px;
}

#botaoAdicionarComentario{
  background-color:#182b23;
  color: #e7c274;
  border: none;
  margin-top: 5%;
  height: 40px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s;
}
#botaoAdicionarComentario:hover{
  cursor: pointer;
  background-color: #07140f;
  transition: 0.3s;
}
.container-inicio li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.container-botao-like button {
  background-color: transparent;
  color: #e7c274;
  border:none;
}
.container-botao-like button:hover{
  cursor: pointer;
}