.bodyHome{
  background-image: url("../../assets/1356787.jpeg");
  background-position: center;
  background-size:cover;
}


.container-inicio {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-post {
  padding: 10px;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  display: flex;
  width: 60%;
  height: 100%;
  background-color: #1e1e1e;
  border-radius: 10px;
}
.cabecalho-post{
  width: 100%;
  display: flex;
  color: #e7c274;;
  margin-left: 30px;
  align-self: self-start;
}
.cabecalho-post a {
  text-decoration: none;
}

#nome-post {
  font-size: 25px;
  font-weight: bolder;
  color: #e7c274;
}

#usuario-post {
  font-size: 20px;
  font-weight: 300;
  margin-left:20%;
  margin-top: 1;
}

.desc-post{
  width: 70%;
  margin-top: 10px;
  font-size: 20px;
  color: #d8d8d8;
}

.botao-contribuir {
  background-color: #1e1e1e;
  color: #e7c274;
  border: none;
  margin-top: 5%;
  height: 60px;
  width: 220px;
  font-size: 20px;
  border-radius: 10px;
}
.botao-contribuir:hover {
  background-color:#182b23;
  transition: 10ms;
  cursor:pointer;
}

.container-post hr {
  width: 80%;
}

.container-novo-post {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.conteudo-novo-post {
  display: flex;
  width: 60%;
  height: 70%;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color:#1e1e1e;
  color: #e7c274;
  border-radius: 10px;
  margin-bottom: 120px;
  font-size: 22px;
  padding: 0 10px 30px 10px;
}

.conteudo-novo-post span {
  display: flex;
  width: 100%;
  justify-content: end;
}

#botaoFecharModal{
  background: transparent;
  border: none;
  color: #e7c274;
  margin-right: 30px;
  margin-top: 30px;
}
#botaoFecharModal {
  cursor: pointer;
}

.formulario-novo-post {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.formulario-novo-post input {
  width: 60%;
  height: 40%;
  border-radius: 5px;
  border: none;
  background-color: #182b23;
  color:#d8d8d8 ;
  font-size: 15px;
}

.formulario-novo-post button {
  display: flex;
  width: 30%;
  height: 40%;
  font-size: 15px;
  border-radius: 10px;
  border:none;
  background-color: #182b23;
  justify-content: center;
  align-items: center;
  color: #e7c274;
  padding: 10px;
  font-weight: bold;
} 
.formulario-novo-post button:hover {
  cursor: pointer;
}

.formulario-novo-post select {
  height: 40%;
  width: 40%;
  background-color: #182b23;
  color: #d8d8d8;
  padding: 5px;
  border:none;
  border-radius: 5px;
}
.formulario-novo-post select:hover {
  cursor: pointer;
}

.container-selects {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-tag {
  margin: 0;
  display: flex;
  width: 100%;
  margin-left: 60px;
  margin-bottom: 20px;
  gap: 20px;
}
.container-tag p{
  margin: 0;
  color: #ffff;
  background-color:#c19d53;
  padding: 3px;
  border-radius: 1px;
  font-size: 20px;
  font-weight: bold;
}
.interacoes-post {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: end;
  align-items: center;
  margin-right: 160px;
  color: #e7c274;
  gap: 30px;
}
#containerSeta {
  margin-top: 10px;
}
#botaoFecharModalComentar:hover{
  cursor: pointer;
}

.container-comentario {
  display: none;
  margin-top: 80px;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.conteudo-comentario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #181717;
  border-radius: 10px;
  padding: 10px;
  color: #e7c274;
}

.container-botao-comentario button {
  background-color: transparent;
  border:none;
  color: #e7c274;
}
.container-botao-comentario button:hover{
  cursor: pointer;
}
.container-secao-comentario {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.container-comentar {
  display: none;
  margin-top: 80px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo com transparência */
}
.conteudo-comentar{
  display: flex;
  width: 60%;
  height: 70%;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color:#1e1e1e;
  color: #e7c274;
  border-radius: 10px;
  margin-bottom: 120px;
  font-size: 22px;
  padding: 0 10px 30px 10px;
}
.conteudo-comentar span {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
  color: #e7c274;
}
.conteudo-comentar button {
  background-color: transparent;
  color: #e7c274;
  box-shadow: none;
  border:none;
}

.container-inicio li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}